$primary-color: #fff;

$accent-text: #000;
$primary-text: #444;
$secondary-text: #424242;
$highlighted-text: #A7FFEB;

$font-stack: 'Source Sans Pro', 'Helvetica', 'Sans-Serif';
$font-size: 2.5rem;
//------------------------------------------

html {font-size:62.5% !important;}
body, a, p {font-size: $font-size !important; line-height: 4rem;}

body, span,  p, h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack !important;
    font-weight: 300;
}


nav
{
    #logo {
        font-size: 2rem;
        padding: 1.5rem 1rem;
        border: 2px solid #ddd;
        margin: 1.3rem;
        line-height: 0;
    }
    
    ul a {
        line-height: 0; 
        position:relative;
        padding: 3rem;
        font-size: 2rem !important;
    }

    position: fixed;
    box-shadow: none;
    background-color: transparent;

    
    .nav-text{position: relative; display: inline-block; }
    .nav-text::after{position: absolute;
        right: 0;
        bottom: -13px;
        left: 0;
        border-bottom: 2px solid;
        content: "";
        -webkit-transition: -webkit-transform .45s cubic-bezier(.4,0,.2,1);
        transition: -webkit-transform .45s cubic-bezier(.4,0,.2,1); 
        transition: transform .45s cubic-bezier(.4,0,.2,1);
        transition: transform .45s cubic-bezier(.4,0,.2,1),-webkit-transform .45s cubic-bezier(.4,0,.2,1);
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
    }
    .nav-text:hover:after{
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    } 
}


#landing {
    background: url(/images/landing.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset 0px 0px 15vw 0px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 0px 15vw 0px rgba(0,0,0,0.8);
    box-shadow: inset 0px 0px 15vw 0px rgba(0,0,0,0.8);
    height: 100vh;
    color: white;

    .overlay {
        background-color:rgba(25, 25, 25, 0.60);
        height: 100vh;
    }

    $header-size: 5rem;
    @media only screen and (max-width: 599px) {
        #heading {display: none};
        #heading-mobile {
            display: table;
            height: 100vh;
            width: 100%;
            text-align: center;
            h1{
                display: table-cell;
                vertical-align: middle;
                font-size: 0.65 * $header-size;
                strong{font-weight: 600;}
            }          
            .typed-cursor{font-size: 0.65 * $header-size}
        }
        
    }
    @media only screen and (min-width: 600px) {
        #heading-mobile{display:none};
        #heading {
            $type-width-1: 689;
            $type-width-2: 788;
            #typer {
                margin: auto;
                padding-top:40vh;
                word-wrap: break-word;
                width: $type-width-2;
                &.typer-change{width: $type-width-1 !important}; 
                
                h1 {
                    display: inline-block;
                    font-size: $header-size;

                    strong {
                        font-weight: 600;
                    }
                }
                .typed-cursor{font-size: $header-size};
                
                @media only screen and (max-width: 1140px) {
                    width: 0.8 * $type-width-2;
                    &.typer-change{width: 0.8 * $type-width-1 !important}; 
                    h1 {font-size: 0.8 * $header-size}                 
                    .typed-cursor{font-size: 0.8 * $header-size}
                }
                @media only screen and (max-width: 740px) {
                    width: 0.65 * $type-width-2;
                    &.typer-change{width: 0.65 * $type-width-1 !important}; 
                    h1 {font-size: 0.65 * $header-size}                 
                    .typed-cursor{font-size: 0.65 * $header-size}
                }
            }
        }
    }
}

#content {
  background-color: white;

   #about-us {
       
       padding-top: 20vh;
     
       
       h1{
         font-weight: 700;
         font-size: 5.625rem;
         margin: 0 auto;
        }
       img{
           border-radius: 50%;
           width: 100px;
           margin: 20px;
       } 
       
    .col.s6.m6{
        @media only screen and (min-width: 740px) {
         #jack{float:right;margin-right: 30px;
        }
        #karl{float:left;margin-left: 30px;
        }
    }
    }
      .col.s12{
          
          
           @media only screen and (min-width: 740px) {
          p{
              width: 50%;
              margin: 0 auto;
              padding-bottom: 50px;
          }
           }
      }

       }
    #services {
        padding-top: 20vh;
        
        
        
        .blurb-container{
            position: relative;
            min-height: 150px;
            
            li {position: absolute; opacity: 0;  transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;}
            .opacity{opacity: 1; }
        }
        .buckets1{
                background-color: #FFF6E6;
                position: relative;  
                height: 400px;  
                padding: 0;
                overflow: hidden; 
                .cock-content {
                background-color: white;
                
                width: 100%;
                position: absolute;
                bottom: -400px;
                
                transition: all 0.5s ease;
                }
        
        }
        .buckets1:hover .cock-content {
                background-color: mintcream;
                bottom: 0px;
                }  
        .buckets2{
             background-color: #fd5c63;
                position: relative;  
                height: 400px;  
                padding: 0;
                overflow: hidden;  
                .dick-content {
                background-color: white;
                
                width: 100%;
                position: absolute;
                bottom: -400px;
                
                transition: all 0.5s ease;
                }   
        }
        .buckets2:hover .dick-content {
                background-color: mintcream;
                bottom: 0px;
                }  
        .buckets3{
             background-color: #76daff;
                position: relative;  
                height: 400px;  
                padding: 0;
                overflow: hidden;  
                .wang-content {
                background-color: white;
                
                width: 100%;
                position: absolute;
                bottom: -400px;
                
                transition: all 0.5s ease;
                }     
        }
        .buckets3:hover .wang-content {
                background-color: mintcream;
                bottom: 0px;
                }  
        
    }
}
                    #work{
                        h1{
                            display: block;
                            font-size: 300px;
                            top: -2.86364rem;
                            right: 5.45455rem;
                                
                        }
                    }


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

