html
    head
        <!-- Materialize -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        <!-- Typing animation -->
        script(src="/js/typed.js")
        <!- General -->
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")
        script(src="/js/init.js")
        <!- Flickity.js (slider) -->
        script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
        link(rel='stylesheet', href='https://unpkg.com/flickity@2/dist/flickity.min.css')
        <!- Reveal elements on scroll -->
        script(src='https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js')
        script.
            window.sr = ScrollReveal();
            
    body
        nav
            .nav-wrapper
                ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a(href='#about-us') 
                                span.nav-text About
                        li
                            a(href='#work') 
                                span.nav-text Work
                        li
                            a(href='') 
                                span.nav-text Contact
                        li.left
              
        #landing
            .overlay
                .container
                    #heading-mobile
                        h1 modern <strong>web</strong> and <strong>Graphic</strong> design<span class="typed-cursor">|</span>
                    #heading
                        #typer
                            h1
                                span.element
             
        #content
            
            .container
                #about-us
                    .row.center-align
                        
                        .col.s12
                           
                            p We exist to elevate your brand. Loaft brings together expertise from multiple disciplines to create engaging user experiences. We strive to bring your digital brand to the forefront of your market.  
                         
                        .col.s6.m6
                            #jack
                                img( src="/images/jack.jpg")
                                h4 Jack Skelton
                                h5 Lead Developer
                        .col.s6.m6
                            #karl
                                img(src="/images/karl.jpg")
                                h4 Karl Li
                                h5 Lead Designer 
                           
                                

                #services
                    .row
                        .col.s12.m8
                            h2 Services
                            .blurb-container
                                ul
                                    li.line0.opacity
                                        h4 We have three core competencies:
                                    li.line1
                                        h4 Strategy is the foundation of every project. It can be rooted in culture, channels, business or audience insights; our only requirement is that it has to be actionable.
                                    li.line2
                                        h4 Our Creative department invents, designs and builds digital experiences with an equal focus on concept and execution.
                                    li.line3
                                        h4 Whether it’s original video, photography, copy, or music, our nimble approach, in-house facilities and close-knit network of trusted partners lets us deliver incredible content at a range of budgets.
                
                    .row.center-align
                        .col.s12.m4.buckets1
                            h3 Strategy
                            img(width="200" src="http://img13.deviantart.net/fe13/i/2012/160/b/d/cat_png_with_transparent_background_1_by_meinlilapark-d52tj0r.png")   
                            .cock-content 
                                ul
                                    li
                                        p Data Science
                                    li
                                        p Persona Development
                                    li
                                        p Social Strategy
                                    li
                                        p Brand Strategy
                                    li
                                        p Content Strategy
                                    
                            
                        .col.s12.m4.buckets2
                            h3 Creative
                            img(width="250" src="http://freepngimages.com/wp-content/uploads/2016/03/panda-transparent-background.png")   
                            .dick-content 
                                ul
                                    li
                                        p UX
                                    li
                                        p Visual Design
                                    li
                                        p Product Design
                                    li
                                        p Copywriting
                                    li
                                        p Campaign
                                    
                        .col.s12.m4.buckets3
                            h3 Content
                            img(src="http://freepngimages.com/wp-content/uploads/2015/11/sad-puppy-transparent-background.png")       
                            .wang-content 
                                ul
                                    li
                                        p Photography
                                    li
                                        p Logotype
                                    li
                                        p Content Creation
                                    li
                                        p Native Applications
                                    li
                                        p Back End
                                    
                #work
                    .row
                        .col.s12
                            h1 Work
                        .col.s12
                            
                            .main-carousel(data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround":true, "pageDots": false, "prevNextButtons": false, "imagesLoaded": true }')
                                .carousel-cell 
                                    img(src='http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg')
                                    .project-name.left-align
                                        h4 Gamerholic
                                        h5 Gaming studio redesign
                                .carousel-cell 
                                    img(src='http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg')
                                    .project-name.left-align
                                        h4 Chinese Shit  
                                        h5 Chines design shit
                                .carousel-cell
                                    img(src='http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg')
                                    .project-name.left-align
                                        h4 Numberz
                                .carousel-cell 
                                    img(src='http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg')
                                    .project-name.left-align
                                        h4 More Chinese           
                #contact
                    .row
                        .col.s12       

        script.
            sr.reveal('nav',{ duration: 2000 });                                 