html
    head
        <!-- Materialize -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
        <!-- Typing animation -->
        script(src="/js/typed.js")
        <!- General -->
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700")
        script(src="/js/init.js")

    body
        #landing
            .overlay
                .container
                    #heading
                        h1 Loaft
                        #typer
                            p.jumbo
                                span.element
