html(style="margin: 0; padding: 0")
    head
        <title>Loaft</title>
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="preload" as="image" href="/images/landing.jpg")
        <!-- Materialize -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
        <!-- Typing animation -->
        script(src="/js/typed.js")
        <!- Flickity.js (slider) -->
        script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
        link(rel='stylesheet', href='https://unpkg.com/flickity@2/dist/flickity.min.css')
        <!- Scroll animations -->
        script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
        <!- General -->
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600")
        link(rel="stylesheet" href="css/style.css")
        script(src="/js/init.js")
            
    body
        nav
            .nav-wrapper
                a.left(id="logo" href="#landing") <strong>Loaft</strong>
                ul.right.hide-on-small-only
                        li#nav-about
                            a(href='#about') 
                                span.nav-text About
                        li#nav-services
                            a(href='#services') 
                                span.nav-text Services
                        li
                            a(href='#work') 
                                span.nav-text Work
                        li
                            a(href='#contact') 
                                span.nav-text Contact
                ul#nav-mobile.right.hide-on-med-and-up
                        li#nav-about
                            a(href='#about') 
                                .span.nav-text.fa.fa-info-circle(style="line-height: 0")
                        li#nav-services
                            a(href='#services') 
                                .span.nav-text.fa.fa-cogs(style="line-height: 0")
                        li
                            a(href='#work') 
                                .span.nav-text.fa.fa-briefcase(style="line-height: 0")
                        li
                            a(href='#contact') 
                                .span.nav-text.fa.fa-phone(style="line-height: 0")
              
        #landing.scrollspy
            .overlay
                .container
                    #heading-mobile
                        h1 modern <strong>web</strong> and <strong>Graphic</strong> design<span class="typed-cursor">|</span>
                    #heading
                        #typer
                            h1(font-size: 3.5rem)  We are <br>
                                span.element
             
        #content
            .container
                #about.scrollspy
                    .row.center-align
                        .col.s12.m6.offset-m3
                            h2.boxed-title Who are we?<span class="typed-cursor">|</span>
                        .col.s12.m8.offset-m2                          
                            p We exist to elevate your brand. Loaft brings together expertise from multiple disciplines to create engaging user experiences. We strive to bring your digital brand to the forefront of your market.  
                            
                        .col.s6.m6
                            #jack
                                img( src="/images/jack.jpg")
                                h4 Jack Skelton
                                h5 Senior Developer
                        .col.s6.m6
                            #karl
                                img(src="/images/karl.jpg")
                                h4 Karl Li
                                h5 Lead Designer 
                        
                            

                #services.scrollspy
                    .row
                        .col.s12.m8
                            h2.boxed-title Services<span class="typed-cursor">|</span>
                            .blurb-container.hide-on-small-only
                                ul
                                    li.line0.opacity
                                        h4 We specialise in three different areas:
                                    li.line1
                                        h4 Strategy is the foundation of all of our projects. We are focused on ROI and maximising customer engagement.
                                    li.line2
                                        h4 We go above and beyond client expectations to create a truly unique product aligned with the goals and objectives of your brand.
                                    li.line3
                                        h4 Our projects are built to deliver on a key triad of performance, reliability and scalability. 
                    
                    .row.hide-on-med-and-up
                        ul.collapsible.center-align(data-collapsible='accordion')
                            li
                                .collapsible-header
                                    img(width="90" src="images/strategy.jpg")  
                                    
                                    p Strategy
                                .collapsible-body
                                    span Strategy is the foundation of all of our projects. We are focused on ROI and maximising customer engagement.
                            li
                                .collapsible-header
                                    img(width="90" src="images/creative.jpg") 
                                    
                                    p Creative
                                .collapsible-body
                                    span We go above and beyond client expectations to create a truly unique product aligned with the goals and objectives of your brand.
                            li
                                .collapsible-header
                                    img(width="90" src="images/technology.jpg")    
                                    
                                    p Technology
                                .collapsible-body
                                    span Our projects are built to deliver on a key triad of performance, reliability and scalability. 

                    .row.center-align.hide-on-small-only
                        .col.s12.m4.buckets1
                            
                            .top-content 
                                
                                img(width="max-width: 100%" src="images/strategy.jpg")  
                                h3 Strategy 
                            .slide-content 
                                ul
                                    li
                                        p Customer Research
                                    li
                                        p Persona Development
                                    li
                                        p SEO optimisation
                                    li
                                        p Brand Strategy
                                    li
                                        p Content Strategy
                                    
                            
                        .col.s12.m4.buckets2
                            .top-content
                                img(width="max-width:100%" src="images/creative.jpg")   
                                h3 Creative
                            .slide-content 
                                ul
                                    li
                                        p UX
                                    li
                                        p Visual Design
                                    li
                                        p UI
                                    li
                                        p Copywriting
                                    li
                                        p Logotype
                                    
                        .col.s12.m4.buckets3
                            .top-content 
                                img(width="max-width:100%" src="images/technology.jpg")    
                                h3 Technology   
                            .slide-content 
                                ul
                                    li
                                        p Website 
                                    li
                                        p API integration
                                    li
                                        p CMS Integration
                                    li
                                        p Native Applications
                                    li
                                        p Back End
                                

        #work.scrollspy
                    .row
                        .col.s12.m4.offset-m7
                            h2.boxed-title.right-align Work<span class="typed-cursor">|</span>
                        
                    .mobile-carousel.hide-on-med-and-up(data-flickity='{  "contain": true, "wrapAround":false, "pageDots": true, "prevNextButtons": false, "imagesLoaded": true }')
                                .carousel-cell
                                    img(src='/images/5.jpg')
                                    .project-name.center-align
                                        b Gamerholic
                                        h5 Gaming studio redesign
                                .carousel-cell
                                    img(src='/images/1.jpg')
                                    .project-name.center-align
                                        b Omega Construction 
                                        h5 Logotype work
                                .carousel-cell
                                    img(src='/images/2.jpg')
                                    .project-name.center-align
                                        b e.quip Social Media
                                .carousel-cell 
                                    img(src='/images/4.jpg')
                                    .project-name.center-align
                                        b Paramount Law Group 
                                              
                    .main-carousel.hide-on-small-only(data-flickity='{ "initialIndex": 1,  "wrapAround":false, "pageDots": false, "prevNextButtons": false, "imagesLoaded": true }')
                                
                                
                                .carousel-cell.letter-b 
                                    img(src='/images/4.jpg')
                                    .project-name.right-align
                                        b Paramount Law Group
                                .carousel-cell.letter-b 
                                    img(src='/images/5.jpg')
                                    .project-name.right-align
                                        b Gamerholic
                                        h5 Online gaming store redesign
                                .carousel-cell.letter-b 
                                    img(src='/images/1.jpg')
                                    .project-name.right-align
                                        b Omega Construction  
                                .carousel-cell.letter-b  
                                    img(src='/images/2.jpg')
                                    .project-name.right-align
                                        b e.quip Social Media                       
                    

        
        
        #contact.scrollspy
            .container
                h2.center Got a project?
                .row(style="margin-bottom: 0")
                    .col.s12.m8.offset-m2
                        p.center We'd love to hear about it. Send us an <strong>email</strong> or <strong>leave a message</strong> below and we'll reply as soon as possible!
                            p.center.email <i class="fa fa-envelope" aria-hidden="true"></i><strong> help@loaft.com.au</strong>
                form(action="https://formspree.io/amber.accent@gmail.com" id="#contact-form" method="post")
                    .row
                            .col.s12.m4.offset-m2.l3.offset-l3
                                input(name="name" placeholder="Name")
                            .col.s12.m4.l3
                                input(name="phone" placeholder="Phone")
                    .row
                        .col.s12.m8.offset-m2.l6.offset-l3
                            input(name="company" placeholder="Company")
                        .col.s12.m8.offset-m2.l6.offset-l3
                            input(name="email" placeholder="Email" type="email" required)
                        .col.s12.m8.offset-m2.l6.offset-l3
                            textarea(name="message" placeholder="Your message" class="materialize-textarea" required)
                        .col.s12.m8.offset-m2.l6.offset-l3
                            button.right(class="btn waves-effect waves-light" type="submit" name="action") Submit

        footer
            p.right(style="margin: 0;") © Loaft 2017
            
            
            






