html
    head
        <!-- Materialize -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        <!-- Typing animation -->
        script(src="/js/typed.js")
        <!- General -->
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")
        script(src="/js/init.js")
        <!- Flickity.js (slider) -->
        script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
        link(rel='stylesheet', href='https://unpkg.com/flickity@2/dist/flickity.min.css')
        <!- Reveal elements on scroll -->
        script(src='https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js')
        script.
            window.sr = ScrollReveal();
        <!- Scroll animations -->
        script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
        meta(name='viewport', content='width=device-width, initial-scale=1')
            
    body
        nav
            .nav-wrapper
                a.left(id="logo" href="#landing") <strong>Loaft</strong>
                ul.right.hide-on-small-only
                        li#nav-about
                            a(href='#about') 
                                span.nav-text About
                        li#nav-services
                            a(href='#services') 
                                span.nav-text Services
                        li
                            a(href='#work') 
                                span.nav-text Work
                        li
                            a(href='#contact') 
                                span.nav-text Contact
                ul#nav-mobile.right.hide-on-med-and-up
                        li#nav-about
                            a(href='#about') 
                                .span.nav-text.fa.fa-info-circle(style="line-height: 0")
                        li#nav-services
                            a(href='#services') 
                                .span.nav-text.fa.fa-cogs(style="line-height: 0")
                        li
                            a(href='#work') 
                                .span.nav-text.fa.fa-briefcase(style="line-height: 0")
                        li
                            a(href='#contact') 
                                .span.nav-text.fa.fa-phone(style="line-height: 0")
              
        #landing.scrollspy
            .overlay
                .container
                    #heading-mobile
                        h1 modern <strong>web</strong> and <strong>Graphic</strong> design<span class="typed-cursor">|</span>
                    #heading
                        #typer
                            h1
                                span.element
             
        #content
            
            .container
                #about.scrollspy
                    .row.center-align
                        .col.s12.m6.offset-m3
                            h2.boxed-title Who are we?<span class="typed-cursor">|</span>
                        .col.s12.m8.offset-m2                          
                            p We exist to elevate your brand. Loaft brings together expertise from multiple disciplines to create engaging user experiences. We strive to bring your digital brand to the forefront of your market.  
                         
                        .col.s6.m6
                            #jack
                                img( src="/images/jack.jpg")
                                h4 Jack Skelton
                                h5 Lead Developer
                        .col.s6.m6
                            #karl
                                img(src="/images/karl.jpg")
                                h4 Karl Li
                                h5 Lead Designer 
                           
                                

                #services.scrollspy
                    .row
                        .col.s12.m8
                            h2.boxed-title Services<span class="typed-cursor">|</span>
                            .blurb-container
                                ul
                                    li.line0.opacity
                                        h4 We specialise in three different areas:
                                    li.line1
                                        h4 Strategy is the foundation of all of our projects. We are focused on ROI and maximising customer engagement.
                                    li.line2
                                        h4 We go above and beyond client expectations to create a bridge between customers and the
                                    li.line3
                                        h4 Our projects are built to deliver on a key triad of performance, reliability and scalability. 
                
                    .row.center-align
                        .col.s12.m4.buckets1
                           
                            .dick-content 
                                h3 Strategy
                                img(width="200" src="http://img13.deviantart.net/fe13/i/2012/160/b/d/cat_png_with_transparent_background_1_by_meinlilapark-d52tj0r.png")   
                            .cock-content 
                                ul
                                    li
                                        p Data Science
                                    li
                                        p Persona Development
                                    li
                                        p SEO optimisation
                                    li
                                        p Brand Strategy
                                    li
                                        p Content Strategy
                                    
                            
                        .col.s12.m4.buckets2
                            h3 Creative
                            img(width="250" src="http://freepngimages.com/wp-content/uploads/2016/03/panda-transparent-background.png")   
                            .dick-content 
                                ul
                                    li
                                        p UX
                                    li
                                        p Visual Design
                                    li
                                        p Product Design
                                    li
                                        p Copywriting
                                    li
                                        p Logotype
                                    
                        .col.s12.m4.buckets3
                            h3 Technology
                            img(src="http://freepngimages.com/wp-content/uploads/2015/11/sad-puppy-transparent-background.png")       
                            .wang-content 
                                ul
                                    li
                                        p Website 
                                    li
                                        p API integration
                                    li
                                        p CMS Integration
                                    li
                                        p Native Applications
                                    li
                                        p Back End
                                    
                #work.scrollspy
                    .row
                        .col.s12.m6.offset-m6
                            h2.boxed-title.right-align Work<span class="typed-cursor">|</span>
                        .col.s12.m3
                            h3  We take great pride in the long-term relationships we share our clients.<br> <br>Here is a sample of our work.
                        .col.s12.m9
                            
                            .main-carousel(data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround":false, "pageDots": false, "prevNextButtons": false, "imagesLoaded": true }')
                                .carousel-cell 
                                    img(src='/images/1.jpg')
                                    .project-name.left-align
                                        h4 Gamerholic
                                        h5 Gaming studio redesign
                                .carousel-cell 
                                    img(src='/images/2.jpg')
                                    .project-name.left-align
                                        h4 Chinese Shit  
                                        h5 Chines design shit
                                .carousel-cell
                                    img(src='/images/3.jpg')
                                    .project-name.left-align
                                        h4 Numberz
                                .carousel-cell 
                                    img(src='/images/4.jpg')
                                    .project-name.left-align
                                        h4 More Chinese  
                                .carousel-cell 
                                    img(src='/images/5.jpg')
                                    .project-name.left-align
                                        h4 More Chinese 
                        
        #contact.scrollspy
            .row
                .col.s12.m6
                    h1 Let's get in touch
                    .row.boxed-title
                        form.col.s12
                            .row
                            .input-field.col.s6
                                i.material-icons.prefix mode_edit
                                textarea#icon_prefix2.materialize-textarea
                                label(for='icon_prefix2') First Name
                .col.s12.m6
                    h1 Loaft
                    h2 Sydney Australia
                    h2 help@loaft.com.au

        script.
            sr.reveal('nav',{ duration: 2000 });                                 